body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

p, li {
    font-size: 1vw;
}

#navbar {
    width: 100%;
    height: 10vh;
    background-color: #ff7f50;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

#navbar-div {
    display: flex;
    margin-right: 5vw;
}

.navlink {
    color: #000;
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 20px;
    position: relative;
    opacity: 0.75;
    font-size: xx-large;
}
  
.navlink:hover, #selectednavlink {
    opacity: 1;
}
  
.navlink::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
    width: 100%;
    bottom: 5px;
    opacity: 0;
}
  
.navlink:hover::before, #selectednavlink::before {
    bottom: 10px;
    opacity: 1;
}

#logo-img {
    max-height: 8vh;
    margin-left: 5vw;
}

#container-withad {
    display: flex;
    justify-content: space-between;
}

#text-container {
    margin-left: 2vw;
}

#ad-img {
    margin-right: 2vw;
    max-height: 658px;
}

.offer-btn-link {
    border-radius: 20px;
    width: 90vw;
    margin: 1vh 0px;
    padding: 0px 1%;
    background-color: #ccc;
    text-align: left;
}

.places-pics {
    max-inline-size: 20%;
}

.places-desc, .places-desc-reverse {
    display: flex;
    flex-direction: column;
    line-height: 150%;
}

.places-desc-reverse {
    padding-left: 1%;
}

.places-whole {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 90%;
    padding-left: 1%;
    display: flex;
    border: 2px solid #ff9f70;
    margin-bottom: 3vh;
    background-color: #ffefe0;
}

.places-whole-reverse {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: row-reverse;
    width: 90%;
    display: flex;
    border: 2px solid #ff9f70;
    margin-bottom: 3vh;
    background-color: #ffefe0;
}

#offer-plan {
    border-radius: 20px;
    border: 2px solid #8db8c6;
    background-color: #cdf8ff;
    padding-left: 2vw;
    padding-bottom: 1vh;
}

#offer-plan-days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offer-days-wrap {
    border-radius: 20px;
    border: 2px solid #8db8c6;
    background-color: #bbf6ff;
    margin-right: 2vw;
    padding-left: 0.5vw;
}

#sponsors {
    height: 40vh;
    padding-left: 5vw;
    padding-top: 1vh;
    background-color: #ff9f70;
    display: flex;
    justify-content: space-evenly;
}

#sponsors-gray {
    height: 40vh;
    padding-left: 5vw;
    padding-top: 1vh;
    background-color: #bbb;
    display: flex;
    justify-content: space-evenly;
}

#sponsor-container {
    display: flex;
}

.sponsor-img {
    max-height: 20vh;
}

#lightgray-rect {
    height: 10vh;
    margin-top: 5vh;
    background-color: #ffbf90;
}

#lightgray-rect-gray {
    height: 10vh;
    margin-top: 5vh;
    background-color: #ddd;
}

#reserve-container {
    border-radius: 20px;
    border: 2px solid #bbb;
    background-image: url(assets/nice-background.png);
    padding: 5vh 5vw;
    display: flex;
}

#reserve-button {
    border-radius: 20px;
    border: 2px solid #aa0;
    background-color: #ee0;
    width: 50vw;
    height: auto;
}

#offer-cost {
    color: #fff;
    font-size: 5vw;
    margin: 0px 0px;
}

#offer-justfrom {
    color: #fff;
    margin-bottom: 0px;
}

#reserver-text-container {
    margin-left: 5vw;
}

.offer-desc {
    font-size: 1.5vw;
}

#offer-desc-container {
    border-radius: 20px;
    border: 2px solid #8db8c6;
    background-color: #cdf8ff;
    padding-left: 2vw;
}
